<?xml version="1.0"?>
<configuration>
  <configSection>
    <section name="log4net" type="log4net.config.log4netConfigurationSectionHandler, log4net"/>
  </configSection>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <file value="E:\c-prac\HelloWorld\RollingFile.txt"/>
       <layout type="log4net.Layout.PatternLayout">
       <conversionPattern value="%date{ABSOLUTE} [%logger]%level - %message%newline%exception"/>  
      </layout> 
      
      
      <layout type="log4net.Layout.PatternLayout">
        <coversionPattern value="%level -%message%newline%exception"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="ConsoleAppender"/> 
    </root>
  </log4net>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>
